html, body {
  overflow-x: hidden;
}

/*navbar*/
nav {
  position: fixed;
  width: 100%;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(246, 246, 246, 0.8);
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

.ppc-title {
  font-size: 12px;
  color:  #444;
  margin: 5px 20px;
  text-align: center;
}

.link-container {
  display: flex;
}

.free {
  display: flex;
  color: #444;
  font-weight: 600;
}

.free-2 {
  display: none;
}

.free div {
  margin: 1em;
  text-align: center;
}

.blue {
  color: #3498db;
}

nav h1 {
  border-bottom: 2px solid #3498db;
  text-align: center;
}


nav a:not(.home) {
  display: inline-block;
  color:  #444;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 15px;
}

nav a:not(.home):hover {
  background-color: #3498db;
  color: #fff;
}


.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown .dropdown-content a {
  font-size: 18px;
  color: #3498db;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.x {
  display: none;
  position: fixed;
  top: 20;
  right: 20;
  color: #555;
  font-size: 50px;
  z-index: 150;
  transition: all 0.5s;
}

.x:hover {
  cursor: pointer;
  transform: rotate(45deg);
}
/*navbar~*/


/*banner*/
.banner {
  max-width: 100%;
  min-height: 625px;
  background-image: url('../../tools/images/UA PPC EDIT-4.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.ppc-catch-phrase-container {
  position:relative;
  width: 70%;
  min-height:525px;
}

.ppc-catch-phrase {
  position:absolute;
  width: 70%;
  padding: 250px 0 0 50px;
  left:0;
  top:0;
}

.ppc-catch-phrase:not(:first-child) {
  display: none;
}

.ppc-catch-phrase h1 {
  font-size: 30px;
  text-shadow: 0 3px 1px #666;
}

.catch-phrase-1 h1 {
  font-size: 45px;
}

#padding-left {
  padding-left: 150px;
}

.center-phrase {
  text-align: center;
}
/*banner*/


/*business phrase*/
.business-phrase-container {
  text-align: center;
  color:  #444;
  font-size: 14px;
  padding: 2em;
  background-color: #f6f6f6;
  min-height: 5px;
  box-shadow: 0 0 5px 6px rgba(0,0,0,.23);

}
/*business phrase~*/



/*animated logo*/
.animated-logo {
  padding: 4em 0;
  background-image: radial-gradient(#2980b9, #004C8F);
}

.animated-logo .title, .animated-logo .paragraph{
  color: #fff;
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
}

.animated-logo .paragraph {
    color: #BDD9F4;
    font-size: 24px;
}

.animated-logo .seperator {
  width: 30%;
  box-shadow: inset 1px 1px 1px #004C8F;
  height: 2px;
  border: none;
}

.main-animated-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-logo-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  max-width: 600px;
}


.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  cursor: pointer;
}

.logo-gif {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.logo-text-container h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.logo-text-container li {
  padding: 5px 20px;
  list-style-type: disc;
  color: #BDD9F4;
  font-size: 18px;
  transition: all 0.2s;
}

.logo-text-container li:hover {
  padding: 5px 25px;
  color: #fff;
}

.logo-gif-1 {
  background-image: url('../../tools/images/iStock_51065308_LARGE - Search Button.jpg');
}

.logo-gif-2 {
  background-image: url('../../tools/images/iStock_73812267_XXLARGE - Website & Landing Page Design  and Local Listings Evaluation.jpg');
}

.logo-gif-3 {
  background-image: url('../../tools/images/iStock_83824889_XXXLARGE - Evaluations & Consultations.jpg');
}

.logo-gif-4 {
  background-image: url('../../tools/images/iStock_62931320_XXXLARGE - Your Online Web Presence.jpg');
}

.logo-gif-5 {
  background-image: url('../../tools/images/iStock_16550812_XXXLARGE - Display Advertising - Marketing.jpg');
}

.logo-gif-6 {
  background-image: url('../../tools/images/iStock_19046733_XXXLARGE - Reporting.jpg');
}
/*animated logo~*/


/*color section-1*/
.color-container {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-title {
  text-align: center;
  color: #444;
}

.color-paragraph {
  text-align: center;
  color: #444;
  font-size: 25px;
}

.color-seperator {
    width: 40%;
    height: 2px;
    border: none;
    background-color: #3498db;
}

.main-color-container {
  display: flex;
  justify-content: center;
}

.main-color-container li h1 {
  color: #444;
  font-size: 16px;
  text-align: center;
}

.main-color-container li {
  display: inline-block;
  cursor: pointer;
  max-width: 20%;
  margin: 0 2em;
}

.main-color-container li:first-child {
  border-bottom: 1px solid #3498db;
}

.color-gif {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.color-gif-1 {
  background-image: url('../../tools/gifs/search-engine.gif');
}

.color-gif-2 {
  background-image: url('../../tools/gifs/adwords-campaign.gif');
}

.color-gif-3 {
  background-image: url('../../tools/gifs/landing-page.gif');
}

.color-gif-4 {
  background-image: url('../../tools/gifs/fresh-content.gif');
}

.color-gif-5 {
  background-image: url('../../tools/gifs/local-seo.gif');
}







.color-content-box {
  width: 75vw;
  min-height: 400px;
  margin: 4em 0;

}

.color-content-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#2980b9, #004C8F);
  box-shadow: inset 0 2px 6px rgba(0,0,0,.85),0 2px 6px rgba(0,0,0,.23);
  min-height: 400px;
}

.color-content-container:not(:first-child) {
  display: none;
}

.color-content-container h1 {
  color: #fff;
  padding: 0.5em 1em;
  font-size: 25px;
  text-align: center;
}

.color-content-container.float-top h1 {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 1em;
  right: 0;
  text-align: center;
}

.color-content-container .color-seperator {
    width: 50%;
    background-color: #fff;
}

.color-content-container.float-top .color-seperator {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 6em;
  right: 0;
}

.color-content-container.float-top p {
  margin-top: 5em;
}


.color-content-container p {
  color: #fff;
  font-size: 21px;
  padding: 0 2em;
}

.smaller-width {
  margin: 0 10em;
}
/*color section-1~*/

/*whitespace 3*/
.whitespace-3 .whitespace-container {
  background-color: rgba(26, 93, 161, 1);
}

.side-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitespace-3 .button-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 3em;
}

.whitespace-3 .button {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 5px;
  color:  #fff;
  font-weight: 700;
  background-color: #1A5DA1;
  border: 1px solid #3498db;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  transition: all 0.2s;
}
.whitespace-3 .main-content-container {
  background-color: #f6f6f6;
  color: #444;
  min-height: 500px;
}

.whitespace-3 .main-whitespace-title {
  font-size: 25px;
  text-shadow: 0 2px 1px #999;
  text-align: center;
}

.whitespace-3 .whitespace-title {
  color: #444;
}
.whitespace-3 .whitespace-paragraph {
  color: #444;
}

.whitespace-3 .main-whitespace-paragraph {
  color: #fff;
  text-shadow: 0 2px 1px #999;
  text-align: center;
  font-size: 25px;
}

.whitespace-3 .main-whitespace-seperator {
  width: 20%;
  background-color: #444;
}
/*whitespace 3~*/







/*whitespace*/
.whitespace-container {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 4em 0;
}

.whitespace-gif {
  z-index: -150;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.whitespace-gif:not(:first-child) {
  display: none;
}

.main-whitespace-title {
  font-size: 25px;
  text-shadow: 0 2px 1px #444;
  text-align: center;
  color:  #fff;
}

.main-whitespace-paragraph {
  color: #fff;
  text-shadow: 0 2px 1px #444;
  text-align: center;
  font-size: 25px;
}

.main-whitespace-seperator {
  width: 20%;
}

.button-container {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  text-align: center;
  width: 30%;
  padding: 10px 0;
  margin: 0 5px;
  color:  #fff;
  font-weight: 700;
  background-color: #1A5DA1;
  border: 1px solid #3498db;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  transition: all 0.2s;
}

.button-1, .button-6, .whitespace-3 .button-10 {
  background-color: #003F83;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,.6),0 2px 6px rgba(0,0,0,.23);
}

.main-content-container {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 950px;
  min-width: 950px;
  min-height: 650px;
  margin: 0 10px 20px 10px;
  background-color: rgba(26, 93, 161, .7);
  border: 1px solid #3498db;
  box-shadow: inset 0 2px 6px rgba(0,0,0,.85),0 2px 6px rgba(0,0,0,.23);
}
.whitespace-2 .main-content-container {
  min-height: 435px;
}

.main-content-container .content {
  margin: 3em 1%;
}


.whitespace-title {
  font-size: 25px;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 1em;
  right: 0;
  text-align: center;
  color:  #fff;
}

.paragraph-container {
  margin-top: 5em;
}

.whitespace-paragraph {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  margin: 1em;
  color: #fff;
}

.whitespace-paragraph a {
  color: #333;
}

.whitespace-container .seperator {
  width: 20%;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 5em;
  right: 0;
  background-color: #3498db;
}



.whitespace-gif-1 {
  background-image: url('../../tools/images/website-design-2.jpg');
}

.whitespace-gif-2 {
  background-image: url('../../tools/images/photodune-7827969-responsive-web-design-concept-l-1 SM-KB.jpg');
}

.whitespace-gif-3 {
  background-image: url('../../tools/images/edit-1-marketing.jpg');
}

.whitespace-gif-4 {
  background-image: url('../../tools/images/iStock_63913861_XXXLARGE - Technical Sophistication.jpg');
}

.whitespace-gif-5 {
  background-image: url('../../tools/images/optimization-edit-1.jpg');
}

.whitespace-gif-6 {
  background-image: url('../../tools/images/iStock_89127459_XXXLARGE - Website Evaluation.jpg');
}

.whitespace-gif-7 {
  background-image: url('../../tools/images/iStock_17426795_XXLARGE - PPC Evaluations.jpg');
}

.whitespace-gif-8 {
  background-image: url('../../tools/images/display-ad-edit-1.jpg');
}

.whitespace-gif-9 {
  background-image: url('../../tools/images/iStock_42560772_XXLARGE - Local Listings.jpg');
}


.main-content-container > *:not(:first-child) {
  display: none;
}
/*whitespace~*/


/*text-section*/
.main-text-section-container {
  min-width: 100%;
  min-height: 400px;
  padding: 2em 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px rgba(0,0,0,.9),0 2px 6px rgba(0,0,0,.9);
}

.text-section-title {
  font-size: 25px;
  text-align: center;
  color:  #444;
}

.text-section-paragraph {
  font-size: 25px;
  text-align: center;
}

.text-section-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
}


.text-section {
  max-width: 25%;
  margin: 5.5em 2em;
}

.text-section h1 {
  font-size: 20px;
  color: #003F83;
  padding-bottom: 0.5em;
}

.main-text-section-container .seperator {
  width: 20%;
  background-color: #3498db;
}

.text-section p {
  color: #555;
  font-size: 20px;
}

.text-graphic {
  min-width: 600px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.report-graphic {
  background-image: url('../../tools/images/iStock_25700824_XXXLARGE - Reporting Section.jpg');
}

.display-advertising-graphic {
  background-image: url('../../tools/images/Main File 03.jpg');
}


/*text-section~*/

/*contact form*/
.contact-form-container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-container form {
    padding: 2% 5%;
}


.contact-form-container form h1 {
    font-size: 30px;
    color: #fff;
}



.contact-form-container input, .contact-form-container textarea {
  display: block;
  min-width: 30vw;
  max-width: 100%;
  margin: 20px;
  padding-left: 20px;
  font-size: 18px;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.3s;
}

.contact-form-container input:hover, .contact-form-container textarea:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

.contact-form-container input {
  min-height: 50px;
}

.contact-form-container textarea {
  min-height: 150px;
}

#ajax-contact {
  background-color: rgba(26, 93, 161, 1);
  margin: 2em 6em;
  border-radius: 5px;
}

#submit {
  color: #fff;
  background-color: #27AE60;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: all 0.3s;
}

#submit:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

.recaptcha-box {
  margin: 20px;
}

#form-messages {
  display: none;
  color: #fff;
  min-width: 30vw;
  max-width: 100%;
  font-size: 18px;
  padding: 25px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #E74C3C;
}

.contact-logo-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 200px;
  margin-top: 2em;
  border-radius: 5px;
  background-color: rgba(26, 93, 161, 1);
  box-shadow: 0 2px 2px #ccc;
}

.contact-logo {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 5% 0 5%;
}

.contact-logo-1 {
  background-image: url('../../tools/gifs/telephone.gif');
}

.contact-logo-2 {
  background-image: url('../../tools/gifs/reception-bell.gif');
}

.contact-logo-text h1{
  color: #fff;
  font-size: 40px;
}

.contact-logo-text h2, .contact-logo-text a {
  color: #fff;
  font-size: 30px;
}

.contact-logo-text button {
  width: 100%;
  min-height: 50px;
  color: #fff;
  font-size: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  border-radius: 5px;
  background-color: #27AE60;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.contact-logo-text button:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.5),0 2px 6px rgba(0,0,0,.5);
}

/*contact form~*/



/*footer*/
footer {
  min-height: 400px;
  background-color: #1f1f1f;
  color: #aaa;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}

.footer-nav a:hover{
  color: #3498db;
}

.footer-title {
  font-size: 18px;
}

.footer-title h1 {
  display: inline-block;
  padding: 0 4%;
  border-bottom: 2px solid #3498db;
}

.footer-nav {
    margin: 20px 0;
}

.footer-nav a {
  padding: 0 5px;
}

.footer-links {
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-links h1 {
  font-size: 20px;
  color: #3498db;
  text-align: left;
  margin: 20px 10px 0 10px;
}

.footer-links h1:hover {
  text-decoration: underline;
}

.footer-links li {
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
  list-style-type: disc;
  transition: all 0.3s;
}

.footer-links li:hover {
  color: #3498db;
}

.footer-contact a {
  margin: 10px;
  font-size: 23px;
}

.footer-location h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  padding: 10px 0;
}


footer hr {
  width: 50%;
}

.footer-legal h2 {
  font-size: 18px;
  font-weight: 100;
}

.footer-legal span {
  color: #3498db;
}

footer .policies a {
  display: inline-block;
  color: #aaa;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
}

footer .policies a:hover{
  color: #3498db;
}

/*footer~*/













/*who-we-serve*/
.who-we-serve {
  color: #444;
}


.who-we-serve-title {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#2980b9, #004C8F);
    color: #fff;
}

.who-we-serve-title h1 {
  text-align: center;
}

.who-we-serve-title hr {
  width: 30%;
}

.who-we-serve-title h2 {
  text-align: center;
}

.who-we-serve-box {
  text-align: justify;
}

.who-we-serve-box p {
  font-size: 25px;
}

.who-we-serve-box-1 {
  min-height: 700px;
  background-color: #f8f8f8;
}

.who-we-serve-box-1 h2 {
  text-align: center;
  padding: 1em 0;
  font-size: 30px;
}


.floating-box {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.floating-p {
  display: inline-block;
  width: 25%;
  min-height: 450px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  transition: all 0.2s;
}

.floating-p:hover {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.floating-p:hover .floating-top {
  padding: 25px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

.floating-p p {
    padding: 1em 1em 0 1em;
}

.floating-top {
  width: 100%;
  padding: 20px 0;
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  text-align: center;
  transition: all 0.2s;
}

.floating-p-2 {
  margin-top: 7em;
}

.floating-p-3 {
  margin-top: 14em;
}

.floating-p-1 .floating-top{
  background-color: #3498db;
}

.floating-p-2 .floating-top {
  background-color: #2ecc71;

}

.floating-p-3 .floating-top {
  background-color: #e74c3c;
}



.who-we-serve-box-2 {
    font-size: 23px;
    padding: 30px 0;
    background-image: url('../../tools/images/website-design-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.who-we-serve-box-2 h2 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  width: 60%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 4px 6px rgba(0,0,0,.16),2px 4px 6px rgba(0,0,0,.23);
}

.bevel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 2em auto;
  padding: 1em;
  font-size: 26px;
  box-shadow: 2px 4px 6px rgba(0,0,0,.16),2px 4px 6px rgba(0,0,0,.23);
  transition: all 0.4s;
}

.bevel:hover {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.bevel .who-we-serve-logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.bevel .who-we-serve-logo-1 {
  background-image: url('../../tools/gifs/help.svg');
}

.bevel .who-we-serve-logo-2 {
  background-image: url('../../tools/gifs/clock.svg');
}

.bevel .who-we-serve-logo-3 {
  background-image: url('../../tools/gifs/thief.svg');
}

.bevel .who-we-serve-content-container {
  width: 70%;
  margin-left: 100px;
}

.fix-indent {
  display: flex;
}

.fix-indent span {
    margin: 0 10px;
}

.fix-indent-p {
  font-size: 22px;
  margin-left: 55px;
}





.who-we-serve-box-3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  min-height: 500px;
}

.who-we-serve-box-3-content {
  width: 40%;
  font-size: 25px;
}

.who-we-serve-box-3-image {
  width: 45%;
  height: 450px;
  background-image: url('../../tools/images/iStock_89127459_XXXLARGE - Website Evaluation.jpg');
  background-position: center;
  background-size: cover;
}

.who-we-serve-box-4 {
  padding: 2em 15%;
  color: #fff;
  background-image: radial-gradient(#2980b9, #004C8F);
  text-align: justify;
  font-size: 20px;
}
/*who we serve~*/





/*why theppcgroup*/
.why-the-ppcgroup {
  min-height: 250px;
  color: #444;
}

.why-the-ppcgroup-title {
  background-color: #3498db;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  transition: all 0.3s;
}

.lifted-box:hover .why-the-ppcgroup-title {
  padding: 30px 0;
  background-color: #2ecc71;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

.why-the-ppcgroup-title hr {
  width: 50%;
}

.why-the-ppcgroup h1 {
  font-size: 25px;
}

.why-the-ppcgroup p {
  font-size: 25px;
}

.why-the-ppcgroup-box-1 p {
  text-align: justify;
}

.why-the-ppcgroup-box .lifted-box {
  width: 50%;
  margin: 20px auto;
  font-size: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  transition: all 0.5s;
}

.lifted-box:hover {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.lifted-box p {
  margin: 20px 20px;
  padding: 50px 30px;
}


.why-the-ppcgroup-box-2 {
  min-height: 500px;
}

.animated-text-container {
  display: flex;
}

.animated-text {
  min-width: 33.333%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.animated-text-1 {
  background-image: url('../../tools/images/iStock_25700824_XXXLARGE - Reporting Section.jpg');
}

.animated-text-2 {
  background-image: url('../../tools/images/website-design-2.jpg');
}

.animated-text-3 {
  background-image: url('../../tools/images/display-ad-edit-1.jpg');
  background-position: right;
}


.animated-text-animation {
    min-width: 50%;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 4px 6px rgba(0,0,0,.16),2px 4px 6px rgba(0,0,0,.23);
    transition: all 1s ease-in-out;
}

.animated-text:hover .animated-text-animation {
  flex: 1 1 40%;
}

.animated-text:hover {
    min-width: 50%;
}

.animated-text-container:hover .animated-text:not(:hover) {
  min-width: 25%;
}

.logo-title {
  color: #fff;
  text-align: center;
}


.animated-text .animated-text-logo {
  min-width: 150px;
  height: 150px;
  margin: 0 20px;
  background-position: center;
  border-radius: 100%;
}

.animated-text-logo-1 {
  background-image: url('../../tools/gifs/30-day.jpg');
  background-size: cover;
}

.animated-text-logo-2 {
  background-image: url('../../tools/gifs/HiRes-1.jpg');
}

.animated-text-logo-3 {
  background-image: url('../../tools/gifs/74402217_thumbnail.jpg');
}

.animated-text-content {
  color: #fff;
  max-width: 70%;
}

.animated-text-content h1 {
  font-size: 20px;
  text-align: justify;
}

.li-container {
  display: flex;
}

.li-structure {
  display: flex;
}

.animated-text-content li {
  list-style-type: disc;
  color: #3498db;
  font-size: 18px;
  margin: 10px 0 10px 30px;
}

.animated-text-content span {
  color: #fff;
  margin: 10px 0;
}


.why-the-ppcgroup-box-3 {
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
}

.why-the-ppcgroup-box-3 h1 {
  text-align: left;
  font-size: 30px;
}

.why-the-ppcgroup-box-3-content {
  width: 50%;
}

.why-the-ppcgroup-box-3-image {
  width: 50%;
  height: 550px;
  background-image: url('../../tools/images/iStock_89127459_XXXLARGE - Website Evaluation.jpg');
  background-position: center;
  background-size: cover;
}

.why-the-ppcgroup-box-4 {
  padding: 2em 15%;
  color: #fff;
  background-image: radial-gradient(#2980b9, #004C8F);
  text-align: justify;
  font-size: 20px;
}
/*why theppcgroup~*/















/*privacy policy*/
.legal-info {
    padding: 6em 20%;
    background-color: #f6f6f6;
}

.legal-info h1 {
  color: #003F83;
  margin: 1em 0;
}

.legal-info p {
  text-align: justify;
}

.legal-info h3 {
  color: #004C8F;
  margin: 2em 0;
}




/*privacy policy~*/



/*thank you*/
.thank-you {
  height: 100%;
  background-image: radial-gradient(#2980b9, #004C8F);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 5px 2px #444;
}

.thank-you h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 5px 2px #444;
}

.thank-you button {
  min-height: 50px;
  color: #fff;
  font-size: 30px;
  box-shadow: 0 1px 1px #444;
  border-radius: 5px;
  background-color: #2980b9;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.thank-you button:hover {
  background-color: #3498db;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}


/*thank you~*/






/*media queries*/
@media (max-width: 1500px) {
/*text section*/
  .text-section h1 {
    font-size: 20px;
  }

  .text-section p {
    font-size: 12px;
  }
/*text section~*/

/*who we serve*/
  .floating-box {
      align-items: center;
      flex-direction: column;
  }

  .floating-p {
    width: 75%;
    min-height: 300px;
    margin: 20px 0;
  }
/*who we serve~*/
}


@media (max-width: 1200px) {
/*nav*/
  nav a {
    padding: 30px 5px;
  }
/*nav*/
/*text-section*/
  .text-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-section-gif {
    width: 150px;
  }

  .text-section {
    text-align: center;
    max-width: 50%;
    margin: 2em;
  }

  .text-section h1 {
    font-size: 24px;
  }

  .text-section p {
    font-size: 16px;
  }

  .text-graphic {
    min-width: 100%;
    height: 400px;
    order: -1;
  }
/*text-section~*/

/*contact-form*/
.contact-form-container {
  flex-direction: column;
}

.contact-form-container input, .contact-form-container textarea {
  min-width: 70vw;
  margin: 20px auto;
}

.contact-form-container form h1 {
  text-align: center;
}
/*contact-form~*/

/*who we serve*/
  .who-we-serve-box-3 {
    display: flex;
    flex-direction: column-reverse;
    min-height: 500px;
  }

  .who-we-serve-box-3-content {
    width: 80%;
  }

  .who-we-serve-box-3-image {
    width: 100%;
  }
/*who we serve ~*/

/*why the ppcgroup*/
.why-the-ppcgroup-box .lifted-box {
  width: 85%;
  font-size: 20px;
}

.animated-text-container {
  display: flex;
  flex-direction: column;
}

.animated-text {
  min-height: 400px;
}

.animated-text-animation {
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.animated-text-content {
  max-width: 80%;
}


.why-the-ppcgroup-box-3 {
  padding: 0;
  flex-direction: column-reverse;
}

.why-the-ppcgroup-box-3-content {
  width: 90%;
  margin: 20px auto;
}

.why-the-ppcgroup-box-3-image {
  width: 100%;
}
/*why the ppcgroup~*/
}

@media (max-width: 1024px) {
/*nav*/
  .x {display: block;}
  nav {
    height: 75px;
  }

  .link-container {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    width: 20%;
    height: 100%;
  }

  .nav-open {
    right: -100%;
  }

  .link-container a {
    display: block;
    font-size: 15px;
    padding: 20px;
  }
/*nav*/


/*animated logo*/
  .logo-container {
    display: block;
    margin: 50px 0;
  }
/*animated logo~*/

/*color section 1*/
.main-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-color-container li {
  display: block;
  max-width: 100%;
  cursor: pointer;
  margin: 2em;
}

.color-content-container p {
  font-size: 16px;
  text-align: center;
}

.color-content-box {
  width: 95%;
  min-height: 400px;
  margin: 4em 0;

}

.smaller-width {
  margin: 0;
}
/*color section 1*/

/*whitespace*/
  .button-container {
    flex-direction: column;
  }


  .button {
    text-align: center;
    width: 100%;
    border-radius: 0;
  }

  .main-content-container {
    max-width: 90%;
    min-width: 0;
    margin: 0 auto;
    border-radius: 0;
    text-align: center;
  }

  .main-content-container .title {
    font-size: 2rem;
  }

  .logo-paragraph-container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .whitespace-paragraph {
    font-size: 25px;
    text-align: center;
    line-height: 1;
    margin: .5em 0;
  }
/*whitespace~*/

/*whitespace 3*/
.side-button-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.whitespace-3 .button-container {
  max-width: 100%;
  min-height: 300px;
  justify-content: center;
}

.whitespace-3 .button {
  width: 80%;
}
/*whitespace 3~*/

/*who we serve*/
  .bevel {
    width: 90%;
    min-height: 250px;
    margin: 20px auto;
    text-align: left;
  }

/*who we serve*/
}


@media (max-width: 768px) {
/*banner*/
.banner {
  background-image: url('../../tools/images/Up to the Sky - Cropped for Mobile-2.jpg');
}

.ppc-catch-phrase {
  display: block;
  text-align: center;
  padding: 250px 0;
}

#padding-left{
  padding-left: 0;
}
.ppc-catch-phrase {
  width: 100%;
  text-align: center;
}
/*banner~*/

/*contact form*/
.contact-form-container input, .contact-form-container textarea {
  min-width: 90vw;
  font-size: 14px;
}

.contact-logo-box {
  width: 95vw;
}

.contact-logo {
  width: 100px;
  height: 100px;
}

.contact-logo-text h1 {
  font-size: 25px;
}

.contact-logo-text h1 span {
  font-size: 30px;
}

.contact-logo-text h2 {
  font-size: 25px;
}
/*contact form~*/

/*who we serve*/
  .who-we-serve-box-2 h2 {
    width: 90%;
  }
  .bevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bevel .who-we-serve-content-container {
    margin: 0;
  }
/*who we serve*/
/*why the pppcgroup*/
.animated-text-animation {
    flex-direction: column;
}

.animated-text-content h1 {
  text-align: center;
}

.why-the-ppcgroup-box-4 {
  padding: 30px;
}
/*why the ppcgroup~*/
}

@media (max-width: 480px) {
/*banner*/
.ppc-catch-phrase h1 {
  font-size: 25px;
}

.catch-phrase-1 h1 {
  font-size: 35px;
}
/*banner~*/

/*animated logo*/
  .logo-container {
    justify-content: center;
  }

  .logo-text-container {
    text-align: center;
    max-width: 100%;
  }

  .logo-text-container h1 {
    padding: 0;
    font-size: 25px;
  }

  .logo-gif {
    margin: 0 100px;
  }
/*animated logo~*/

/*footer*/
footer a {
  padding: 10px 0;
}
.footer-nav {
  margin: 0;
}

.footer-nav a {
    text-align: center;
    display: block;
}
/*footer~*/

/*who we serve*/
.who-we-serve-box {
  text-align: left;
}

.floating-p {
  width: 95%;
}
/*who we serve~*/

/*thank you*/
.thank-you h1 {
  margin: 1em 0;
  font-size: 30px;
}

.thank-you h2 {
  font-size: 20px;
}

.thank-you a {
  width: 90%;
}
/*thank you~*/
}

/*media queries~*/
