

/*navbar*/
nav {
  position: fixed;
  width: 100%;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  background-color: rgba(246, 246, 246, 1);
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
}

nav a {
  display: inline-block;
  color: #3498db;
  font-size: 20px;
  padding: 15px;
}

nav a:hover {
  background-color: #3498db;
  color: #fff;
}


.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown:hover .dropdown-content {
    display: block;
}

.x {
  display: none;
  position: fixed;
  top: 20;
  right: 20;
  color: #555;
  font-size: 50px;
  z-index: 150;
  transition: all 0.5s;
}

.x:hover {
  cursor: pointer;
  transform: rotate(45deg);
}
/*navbar~*/


/*banner*/
.banner {
  width: 100%;
  min-height: 700px;
  background-image: url('../../tools/images/2016-07-13_13-30-52 -Comp.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  font-size: 7vw;
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #eee;
}


.banner h2 {
  color: #ecf0f1;
  font-size: 3.5vw;
}
/*banner*/


/*business phrase*/
.business-phrase-container {
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-size: 2vw;
  border-bottom: 2px solid #666;
}
/*business phrase~*/




/*animated logo*/
.main-animated-logo-container {
  background-image: radial-gradient(#2980b9, #004C8F);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-logo-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}


.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  flex: 1 1 200px;
}

.logo-gif {
  width: 125px;
  height: 125px;
  border-radius: 100%;
}

.logo-text-container h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.logo-text-container li {
  padding: 5px 20px;
  color: #fff;
  transition: all 0.2s;
}

.logo-text-container li:hover {
  cursor: pointer;
  padding: 5px 25px;
  color: #ddd;
}

.logo-text-container li:before {
  content: "+";
}
/*animated logo~*/


/*parallax section-1*/
.parallax-container {
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parallax-container-1 {
  background-image: url('../../tools/images/2016-07-11_20-39-33 -Comp2.jpg');
}

.main-parallax-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
}

.parallax-col {
  display: flex;
  flex-direction: column;
}

.parallax-col li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 50px;
  cursor: pointer;
}

.parallax-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.right {
  text-align: right;
}

.parallax-content h1 {
  color: #fff;
  font-weight: 500;
}

.parallax-content h3 {
  color: #f9f9f9;
  font-weight: 100;
}

.parallax-gif {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100%;
}

.parallax-content-box {
  max-width: 700px;
  margin: 50px 0;
  padding: 25px 0;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax-content-container {
  text-align: center;
}

.parallax-content-container h1 {
  color: #fff;
  font-size: 40px;
}

.parallax-content-container p {
  padding: 0 10%;
  color: #fff;
  font-size: 30px;
}

.parallax-content-container-2, .parallax-content-container-3, .parallax-content-container-4 {
  display: none;
}


/*parallax section-1~*/















/*whitespace*/
.whitespace-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.button {
  text-align: center;
  width: 30%;
  padding: 20px 0;
  margin: 0 5px;
  color: #fff;
  font-weight: 700;
  background-color: #004C8F;
  border-radius: 10px;
  /*box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);*/
  transition: all 0.2s;
}

.button-1 {
  background-color: #2980b9;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,.85),0 2px 6px rgba(0,0,0,.23);
}

.main-content-container {
  max-width: 1024px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 25px 25px 25px;
  background-image: radial-gradient(#2980b9, #004C8F);
  box-shadow: inset 0 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.main-content-container .content {
  margin: 0 50px;
}

.title {
  font-size: 65px;
  text-align: center;
  color: #fff;
}

.paragraph {
  text-align: center;
  color: #f1f1f1;
  font-size: 30px;
  line-height: 1.5;
}

.content-container-2, .content-container-3 {
  display: none;
}
/*whitespace~*/






.parallax-container video {
  min-width: 100%;
  min-height: auto;
  width: auto;
  height: auto;
  position: fixed;
  top:0;
  z-index: -100;
}


.parallax-container-3 {
    background-image: url('../../tools/images/2016-07-13_13-45-34-Comp.jpg');
}



















/*media queries*/
@media (max-width: 1200px) {
/*nav*/
  nav a {
    padding: 30px 5px;
  }
/*nav*/
}

@media (max-width: 1024px) {
/*nav*/
  .x {display: block;}
  nav {height: 75px;}

  .link-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    width: 20%;
    height: 100%;
  }

  .nav-open {
    right: -100%;
  }

  .link-container a {
    display: block;
    font-size: 15px;
    padding: 20px;
  }
/*nav*/


/*parallax section-1*/
  .main-parallax-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .parallax-col li {
    flex-direction: column;
    margin: 20px 0;
  }

  .parallax-content {
    text-align: center;
  }

  .parallax-gif {
    order: -1;
  }
/*parallax section-1~*/

/*animated logo*/
  .logo-container {
    margin: 50px 0;
  }
/*animated logo~*/

/*whitespace*/
  .button-container {
    flex-direction: column;
  }


  .button {
    text-align: center;
    width: 100%;
    border-radius: 0;
  }

  .main-content-container {
    max-width: 100%;
    padding: 20px 0;
    border-radius: 0;
  }

  .title {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 25px;
    line-height: 1;
    margin: 0;
  }
/*whitespace~*/

}


@media (max-width: 768px) {

}

@media (max-width: 480px) {
/*animated logo*/
  .logo-container {
    justify-content: center;
  }

  .logo-text-container {
    text-align: center;
    max-width: 100%;
  }

  .logo-text-container h1 {
    padding: 0;
    font-size: 25px;

  }
/*animated logo~*/
}

/*media queries~*/
