/*navbar*/
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgba(246, 246, 246, 1);
  z-index: 150;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);

}

.link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.drop-down-container {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 20px;
  z-index: 1;
}

.drop-down-container:hover .drop-down-content {
  display: block;
}

.drop-links {
  display: block;
  text-align: center;
  padding: 10px;
  color: #3498db;
  transition: all 0.3s;
}

.drop-links:hover {
  color: #aaa
}

.main-links {
  font-size: 20px;
  padding: 30px 20px;
  color: #3498db;
  transition: all 0.3s;
}

.main-links:hover {
  color: #fff;
  background-color: #3498db;
}

.x {
  display: none;
  position: fixed;
  right: 0;
  margin: 20px;
  color: #555;
  font-size: 50px;
  z-index: 150;
  transition: all 0.5s;
}

.x:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

@media (max-width: 1200px) {
  .x {display: block;}

  .link-container {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  }

  .link-container-open {
    display: flex;
    right: 0;
  }
  .link-container a {
    padding: 25px 20px;
    font-size: 2vw;
  }
}


/*navbar~*/


/*banner*/
.banner {
  width: 100%;
  height: 450px;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/ppc-website-1/tools/images/photodune-3329290-mountain-range-l.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  font-size: 7.5vw;
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #eee;
}

.banner h2 {
  color: #ecf0f1;
  font-size: 4vw;
}
/*banner*/


/*business phrase*/
.business-phrase-container {
  height: 250px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-size: 2vw;
  border-bottom: 2px solid #666;
}
/*business phrase~*/




/*animated logo*/
.main-animated-logo-container {
  background-image: radial-gradient(#3498db, #2980b9);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.gif {
  width: 100px;
  height: 100px;
  background-color: #444;
  border-radius: 100%;
}

.logo-text-container h1 {
  color: #fff;
  font-weight: 700;
  padding: 10px 10px;
}
.logo-text-container li {
  padding: 5px 20px;
  color: #fff;
  transition: all 0.2s;
}

.logo-text-container li:hover {
  cursor: pointer;
  padding: 5px 25px;
  color: #ddd;
}

.logo-text-container li:before {
  content: "+";
}
/*animated logo~*/










/*parallax section*/
.parallax-container {
  width: 100%;
  background-image: url('C:/Users/Yisroel/AppData/Local/atom/app-1.8.0/code/ppc-website-1/tools/images/photodune-772431-panorama-mountains-l.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parallax-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax-content-container-1 {
    text-align: right;
}

.parallax-gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-gif {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #fff;
}

.parallax-content {
  margin: 100px;
  display: flex;
  flex-direction: column;
}

.parallax-content h1 {
  color: #fff;
  font-size: 40px;
  width: 400px;
}

.parallax-content p {
  color: #fff;
  font-size: 20px;
  width: 400px;
}


@media (max-width: 1500px) {
  .parallax-gif-container {
    width: 100%;
  }

  .parallax-content {
    margin: 20px;
    text-align: center;
  }

}
/*parallax section~*/















/*whitespace*/
.whitespace-container {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.button {
  text-align: center;
  width: 200px;
  padding: 10px 0;
  margin: 0 10px;
  color: #fff;
  font-weight: 700;
  background-color: #3498db;
  box-shadow: 0 2px 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.23);
  transition: all 0.5s;
}

.button-1 {
  background-color: #2ecc71;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,.85),0 2px 6px rgba(0,0,0,.23);
}

.main-content-container {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 100px 100px 100px;
  box-shadow: inset 0 0 2px 2px #aaa;
}

.seperator {
  width: 75%;
  height: 2px;
  margin: 50px 0;
  background-color: #eee;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 80px;
  color: #3D8EB9;
}

.paragraph {
  text-align: center;
  color: #7f8c8d;
  font-size: 30px;
  line-height: 2;
  margin: 0 50px;
}

.content-container-2, .content-container-3 {
  display: none;
}
/*whitespace~*/
